{erl_opts, [debug_info]}.
{deps, []}.

{alias, [{test, [compile, {ct, "--verbose"}, cover]}]}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.
{erlfmt, [write]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {homepage_url, "https://github.com/mochams/rebar3_go"},
    {source_url, "https://github.com/mochams/rebar3_go"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.
